.container {
  position: absolute;
  width: 100%;
  height: 60px;
  bottom: 45px;
  left: 0;
  display: flex;
  justify-content: center;
}

.navigation {
  position: absolute;
  padding: 0px 2vw;
  display: flex;
}

.navigation_item {
  vertical-align: middle;
  padding: 17px 0;
  text-align: center;
  width: 100px;
  max-width: 100px;
  background-color: transparent;
  color: white;
  font-size: 25px;
}

.record_item {
  vertical-align: middle;
  padding: 8px 0;
  text-align: center;
  width: 100px;
  max-width: 100px;
  background-color: transparent;
  color: white;
  font-size: 40px;
}

@media only screen and (max-width: 524px) {
  .navigation {
    padding: 0px;
  }
  .navigation_item {
    width: 64px;
    max-width: 64px;
  }
}