.container {
  position: absolute;
  width: 100%;
  height: 64px;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

.navigation {
  background-color:  #6b9996;
  position: absolute;
  border-radius: 0px 0px 32px 32px;
  padding: 0px 24px;
}

.navigation_item {
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  padding: 8px 24px;
}