@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', serif;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  background-color: #f5f7f7;
  color: black;  
  font-size: 16px;
  font-weight: 300;
}

main {
  width: 100vw;
  max-width: 768px;
  height: calc(100% - 64px);
  padding: 10px;
}

h1 {
  color: #3d5b61;  
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

h3 { 
  color: #3d5b61;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 24px;
}

a:link, a:visited, a:active {
  text-decoration: none;
}

.formContainer {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 5px;
}

.inputText {
  height: 38px;
  padding: 12px;
  line-height: 1;
  border: 1px solid;
  border-radius: 4px;
  border-color: #91918b;
  color: #91918b;
  background-color: white;
  font-size: 16px;
}

.inputText::placeholder {
  color: #91918b;
}

.inputText:invalid {
  border-bottom: #b30101b0 solid;
}

.inputText:focus:invalid {
  border-bottom: #91918b solid;
}
  
.inputTextLabel {
  color: #506c6e;
  font-size: 14px;
  font-weight: 400;
}

.button {
  height: 38px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #466444;
  font-size: 16px;
  font-weight: 600;
  margin-top: 18px;
  cursor: pointer;
}

.link {
  color: #466444;
  font-weight: 600;
}

.avatar-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.personal-image {
  text-align: center;
}

.personal-image input[type="file"] {
  display: none;
}

.personal-figure {
  position: relative;
  width: 120px;
  height: 120px;
}

.personal-avatar {
  align-items: center;
  cursor: pointer;
  width: 120px;
  height: 120px;
  box-sizing: border-box;
  border-radius: 100%;
  border: 2px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  transition: all ease-in-out .3s;
}

.personal-avatar:hover {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
.personal-figcaption {
  cursor: pointer;
  position: absolute;
  top: 0px;
  width: inherit;
  height: inherit;
  border-radius: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: all ease-in-out .3s;
}
.personal-figcaption:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, .5);
}
.personal-figcaption > img {
  margin-top: 32.5px;
  width: 50px;
  height: 50px;
}

.snackbar {
  visibility: hidden;
  width: calc(100vw - 20px);
  max-width: 768px;
  background-color: #b30101b0;
  color: white; 
  text-align: center; 
  border-radius: 2px; 
  padding: 16px;
  position: fixed;
  z-index: 1;
  bottom: 80px; 
  font-size: 14px;
  font-weight: 400;
}

.snackbar.show {
  visibility: visible; 
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {opacity: 1;}
  to {opacity: 0;}
}

@keyframes fadeout {
  from {opacity: 1;}
  to {opacity: 0;}
}

#signinCreateProfile {
  margin-top: 32px;
  text-align: center;
}

#togglePassword {
  color: #466444;
  width: 20px;
  text-align: center;
  margin-top: -35px;
  margin-left: calc(100% - 40px);
}