*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Google Sans Text", sans-serif;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  background-color: #6b9996;
  color: #1b1c18;  
  font-size: 16px;
}

main {
  position: absolute;
  bottom: 64px;
  background-color: #FEFCF6;
  border-radius: 0px 0px 32px 32px;
}