/*!***********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[3]!./app/globals.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Google Sans Text", sans-serif;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  background-color: #6b9996;
  color: #1b1c18;  
  font-size: 16px;
}

main {
  position: absolute;
  bottom: 64px;
  background-color: #FEFCF6;
  border-radius: 0px 0px 32px 32px;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./components/NavigationBar.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.NavigationBar_container__DlAkZ {
  position: absolute;
  width: 100%;
  height: 64px;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

.NavigationBar_navigation___XWws {
  background-color:  #6b9996;
  position: absolute;
  border-radius: 0px 0px 32px 32px;
  padding: 0px 24px;
}

.NavigationBar_navigation_item__OCbOh {
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  padding: 8px 24px;
}
